langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
feedparser
requests
trafilatura
langchain_chroma
langchain_huggingface
langchain-google-genai
streamlit
shutil